@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #eeeeee;
  font: 1.1em "Times New Roman";
  line-height: 1.2;
}

#resume {
  margin: 0 auto;
  width: 21cm;
  min-height: calc(100vh);
  padding: 40px 60px;
  background: #ffffff;
  border: 1px solid #cccccc;
}

@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: none;
  }

  #resume {
    margin: 0;
    padding: 40px 60px;
    border: 0px;
    background: none;
  }

  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: underline;
  }
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}
